@page "/Article/{Name}"
@layout MainLayout
@using ExiledWebServices.Components.Core
@using ExiledWebServices.Components.Layout
@using ExiledWebServices.Components.Pages.Elements
@using ExiledWebServices.Deployment.Services
@using Markdig
@inject IConfigLoaderService ConfigLoader

@code {
    [Parameter]
    public string Name { get; set; }

    private MarkdownArticle Article { get; set; }

    private MarkupString Content { get; set; }

    protected override void OnInitialized()
    {
        Article = ArticleService.Instance.GetArticleByName(Name);
        Content = new MarkupString(Markdown.ToHtml(Article.MarkdownText));
    }
}

<AdditiveHead Title="Exiled" Description="@Article.Title">
    <ChildContent>
        <link rel="stylesheet" href="assets/css/articles.css"/>
        <title></title>
    </ChildContent>
</AdditiveHead>

@{
    ConfigLoader.LoadConfigs(Name);
}

<body>
<div style="height: 15vh"></div>
<section class="section">
    <div class="container">
        <div class="gradient hero-bg article-bg v1"></div>
        <div class="gradient hero-bg article-bg v2"></div>
        <div class="gradient hero-bg article-bg v3"></div>
        <div class="grid-2-columns">
            <div class="container contributors">
                @foreach (KeyValuePair<string, string> author in Article.Authors)
                {
                    string _ref = string.IsNullOrEmpty(author.Value) ? $"https://github.com/{author.Key}" : author.Value;
                    string name = $"@{author.Key}";
                    string pfp = _ref + ".png";

                    <a class="hover-2" href="@_ref">
                        <img src="@pfp" alt="@name"/>
                    </a>
                }
            </div>
            <div class="flex-horizontal end flex-wrap">
                <a class="icon-label">
                    @if (!string.IsNullOrEmpty(Article.Date))
                    {
                        <span>Updated on: @Article.Date</span>
                    }
                </a>
            </div>
        </div>
        <div class="divider eof"></div>
        @Content
        <div class="divider eof"></div>
        @{
            string nextArticle = string.IsNullOrEmpty(Article.NextArticle) ? "#" : $"/Article/{Article.NextArticle}";
            string previousArticle = string.IsNullOrEmpty(Article.PreviousArticle) ? "#" : $"/Article/{Article.PreviousArticle}";
        }
        <div class="grid-2-columns">
            <a class="icon-label" href="@previousArticle">
                @if (previousArticle != "#")
                {
                    <ion-icon name="chevron-back"></ion-icon>
                    <span>Previous Article</span>
                }
            </a>
            <div class="flex-horizontal end flex-wrap">
                <a class="icon-label" href="@nextArticle">
                    @if (nextArticle != "#")
                    {
                        <span>Next Article</span>
                        <ion-icon name="chevron-forward"></ion-icon>
                    }
                </a>
            </div>
        </div>
    </div>
</section>
</body>