@namespace ExiledWebServices.Shared

<header style="@(Displayable ? "" : "display:none;")" class="header glassFilter" data-header="header">
    <div class="container">

        <a href="@Logo.Href" class="@Logo.Class">
            <img src="@Logo.Src" width="@Logo.Width" height="@Logo.Height" alt="@Logo.Alt">
        </a>

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler="header">
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>        
        
        <nav class="navbar" data-navbar="header">

            <ul class="navbar-list" data-nest="header">
                <li class="dropdown">
                    <ul class="dropdown-menu" data-link="header">
                        @foreach (Link link in Items)
                        {
                            <a href="@link.Href" class="navbar-link hover-3 animate">@link.Name</a>
                        }
                    </ul>
                </li>

                @foreach (Link link in Items)
                {
                    <li class="header-menu-link">
                        <a href="@link.Href" class="navbar-link hover-3">@link.Name</a>
                    </li>
                }
            </ul>
            
        </nav>
        
    </div>
</header>

@code {

    /// <summary>
    /// Gets or sets a value indicating whether the header is displayable.
    /// </summary>
    [Parameter]
    public bool Displayable { get; set; } = true;
    
    /// <summary>
    /// Gets the header's items.
    /// </summary>
    private Link[] Items { get; } =
    [
        new() { Href = "/", Name = "Home", },
        new() { Href = "/Archive/Documentation", Name = "Documentation", },
        new() { Href = "/Blog", Name = "Blog", },
        new() { Href = "/Install", Name = "Install", },
        new() { Href = "https://github.com/Exiled-Team/EXILED", Name = "GitHub", }
    ];

    /// <summary>
    /// Gets the header's logo.
    /// </summary>
    private Image Logo { get; } = new()
    {
        Src = "./assets/images/logo-variants/logo.png",
        Href = "/",
        Class = "logo-container hover-3",
        Width = 80,
        Height = 37,
        Alt = "Exiled logo"
    };
}