@namespace WebApp.Shared

<footer style="@(Displayable ? "" : "display:none;")">
    
    <div class="container">
        <div class="card footer">

            <div class="section footer-top">

                <div class="footer-brand">

                    <a href="/" class="@Logo.Class">
                        <img src="@Logo.Src" width="@Logo.Width" height="@Logo.Height" loading="lazy" alt="@Logo.Alt">
                    </a>

                    <p class="footer-text">
                        A high-level plugin framework for SCP: Secret Laboratory servers.
                    </p>

                </div>

                <div class="footer-list">
                    <p class="footer-list-title">Quick Navigation</p>

                    <ul>
                        @foreach (Link link in Items)
                        {
                            <li>
                                <a href="@link.Href" class="footer-list hover-2">@link.Name</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="footer-list">

                    <p class="footer-list-title">Join our community</p>

                    <p class="footer-text">
                        Join us to contribute, get support and stay up to date with the development.
                    </p>

                    <a href="https://discord.gg/6Hba8eGygP" class="btn btn-primary">
                        <span class="span">Discord</span>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>

                </div>

            </div>

            <div class="footer-bottom">

                <p class="copyright">Copyright 2020-@DateTime.Now.Year © Exiled Team.</p>

                <ul class="social-list">

                    @foreach (SerializableIcon icon in Socials)
                    {
                        <li>
                            <a href="@icon.Href" class="social-link">
                                <ion-icon name="@icon.Class"></ion-icon>

                                <span class="span">@icon.Title</span>
                            </a>
                        </li>
                    }

                </ul>

            </div>

        </div>

    </div>
</footer>

@code {

    /// <summary>
    /// Gets or sets a value indicating whether the footer is displayable.
    /// </summary>
    [Parameter]
    public bool Displayable { get; set; } = true;
    
    /// <summary>
    /// Gets the footer's logo.
    /// </summary>
    private Image Logo { get; } = new()
    {
        Src = "./assets/images/logo-variants/logo.png",
        Href = "/",
        Class = "hover-3",
        Width = 119,
        Height = 37,
        Alt = "Exiled logo"
    };

    /// <summary>
    /// Gets the footer's items.
    /// </summary>
    private Link[] Items { get; } =
    [
        new() { Href = "/", Name = "Home", },
        new() { Href = "/Archive/Documentation", Name = "Documentation", },
        new() { Href = "/Blog", Name = "Blog", },
        new() { Href = "/Install", Name = "Install", },
        new() { Href = "https://github.com/Exiled-Team/EXILED", Name = "GitHub", },
        new() { Href = "#", Name = "Privacy Policy", },
        new() { Href = "#", Name = "License", },
        new() { Href = "https://discord.gg/6Hba8eGygP", Name = "Discord", }
    ];

    private SerializableIcon[] Socials { get; } =
    [
        new() { Href = "https://github.com/Exiled-Team/EXILED", Class = "logo-github", Title = "GitHub"},
        new() { Href = "https://discord.gg/6Hba8eGygP", Class = "logo-discord", Title = "Discord"}
    ];
}